#wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  padding: 15px 10px;
}

.sort-and-filter-bar-wrap {
  display: grid;
  grid-template-columns: auto;
  gap: 16px;
  padding: 0 20px;
  align-items: center;
}

.device-sorting-filter {
  margin-bottom: 10px;
}

.wrong-search-query-p, .spell-checked-query-p {
  padding: 0 14px;
}

.wrong-search-query-p {
  font-size: 1.5rem;
  padding: 14px 8px;
  display: grid;
  justify-content: center;
  gap: 3px;
}

.wrong-search-query-p > span:nth-of-type(2) {
  font-size: 1rem;
  color: rgb(90, 90, 90);
}

.spell-checked-query-p {
  padding: 14px 10px;
  font-size: 1.6rem;
  font-weight: bold;
}

.wrong-search-query-span,  .spell-checked-query-p > span {
  color: #3c3cd5;
}

.spell-checked-p-placeholder {
  height: 47px;
}

.child-categories-scrollbar {
  margin: 0 10px;
}

@media screen and (min-width: 460px) {
  .wrong-search-query-p {
    font-size: 2.1rem;
  }

  .wrong-search-query-p > span:nth-of-type(2) {
    font-size: 1.6rem; 
  }
}

@media screen and (min-width: 600px) {
  .sort-and-filter-bar-wrap {
    grid-template-columns: 1fr auto;
  }

  .spell-checked-query-p {
    font-size: 1.8rem;
  }

  .spell-checked-p-placeholder {
    height: 50px;
  }
}

@media screen and (min-width: 960px) {
  #wrapper {
    grid-template-columns: 1fr 3fr;
  }

  #wrapper.no-catalog-aside {
    grid-template-columns: 1fr;
  }

  .spell-checked-query-p {
    font-size: 2.1rem;
  }

  .spell-checked-p-placeholder {
    height: 53px;
  }
}

@media screen and (min-width: 1250px) {
  #wrapper {
    grid-template-columns: 1fr 4fr;
  }
}