.main-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  /* fallback */
  padding: 0 5%;
  /* matching the side borders of the categories menu with the borders of the aside and the main elements */
  padding: 0 calc(5% - 1px);
  position: relative;
  /* aligning the page with the opened categories menu */
  bottom: 19px;
}

@media screen and (min-width: 960px) {
  .main-page {
    grid-template-columns: auto 1fr;
  }
}

/* the same min-width as in the categories menu at-rule with the width change */
@media screen and (min-width: 1280px) {
  .main-page {
    /* fallback */
    padding: 0 10%;
    padding: 0 calc(10% - 1px);
  }
}