.error-page.not-found-page {
  height: 100%;
}

.error-page.not-found-page h2 {
  text-align: start;
  color: #a10e0e;;
  font-size: 3rem;
  margin: 0;
}

.error-page.not-found-page > section > p {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.not-found-page > section > p > span {
  font-size: 1.5rem;
  font-weight: 600;
}

@media screen and (min-width: 580px) {
  .error-page.not-found-page p {
    font-size: 1.5rem;
  }

  .not-found-page > section > p > span {
    font-size: 1.8rem;
  }
}