/* General */

html {
  font-size: 10px;
  background: #f0f0f0;
}

html, button {
  font-family: 'Montserrat', sans-serif;
}

html * {
  transition: outline 0s;
}

html *:focus, html *:focus-visible {
  outline-color: #7373ff;
}

body {
  margin: 0;
}

/* every page must start with the <main /> element */
main {
  min-height: 100vh;
}

/* implementing the scroll blocking like this, so the scroll bar doesn't disappear */
.global-blocked-scroll {
  position: fixed;
  width: 100%;
  overflow-y: scroll;
}

::selection {
  background-color: #b9c6ff;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background-color: #b9c6ff;
  /* Gecko Browsers */
}

/* Typography */

a {
  text-decoration: none;
  color: black;
}

h1,
h2 {
  font-family: 'Roboto', 'Arial', serif;
}

h1 {
  color: #dbdbff;
}

h2 {
  font-size: 2.5rem;
  color: #3c3cd5;
  text-align: center;
}

p,
label,
input,
select,
button {
  font-size: 1.5rem;
}

p {
  margin: 0;
}

input {
  border: 1px solid;
  border-radius: 5px;
  height: 30px;
  background-color: #e9e9e9;
  color: black;
  transition: background 0.2s, color 0.2s, border-color 0.2s, outline 0s;
}

input:not(input[type="checkbox"]):focus {
  outline: none;
}

input:focus,
input:active {
  background-color: white;
}

textarea {
  resize: none;
}

/* I added this rule for every img a bit late so there are redundant classes "no-select" */
.no-select,
img {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

input,
select {
  min-height: 25px;
}

ul {
  list-style-type: none;
  padding: 0;
}

/* dark app's bg that appears on certain events */

#app-dark-bg {
  background-color: rgba(0, 0, 0, .5);
  display: block;
  outline: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 8000;
}

/* General classes */

.w-100 {
  width: 100%;
}

.rotated {
  transform: rotate(180deg);
}

.centered-axis-x {
  position: absolute;
  left: 50%;
  translate: 50% 0;
}

.justify-center {
  justify-self: center;
}

.align-center {
  align-self: center;
}

.p-absolute {
  position: absolute;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

.visually-hidden,
.visually-hidden * {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: 0;
  font-size: 0;
  line-height: 0;
}

.display-none {
  display: none;
}

.visibility-none {
  visibility: hidden;
}

.invalidInput {
  border: 2px red solid;
}

.disabled-link {
  pointer-events: none;
}

.bold {
  font-weight: bold;
}

.invisible-focus:focus {
  outline: none;
}

.color-black {
  color: black;
}

.link-colors,
.link-colors-wrap a {
  outline-color: #ff7e14;
  color: #7373ff;
}

.link-colors > svg,
.link-colors-wrap a > svg {
  fill: #7373ff;
}

.link-colors:hover,
.link-colors:active,
.link-colors:focus-visible,
.link-colors-wrap a:hover,
.link-colors-wrap a:active,
.link-colors-wrap a:focus-visible {
  color: #bd5e10;
}

.link-colors:hover > svg,
.link-colors:active > svg,
.link-colors:focus-visible > svg,
.link-colors-wrap a:hover > svg,
.link-colors-wrap a:active > svg,
.link-colors-wrap a:focus-visible > svg {
  fill: #bd5e10;
}

/* navigation header */

#root > div > header {
  padding: 10px;
  background-color: #333333;
}

#root > div > header {
  padding: 10px 5px;
  display: grid;
  align-items: center;
  z-index: 15;
  margin-bottom: 30px;
  position: sticky;
  top: 0;
}

#root > div > header.closer-than-darkbg {
  z-index: 9000;
}

/* delete input content and "back" buttons */

.input-back-btn {
  align-self: center;
  display: grid;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  cursor: pointer;
}

.input-back-btn {
  box-sizing: border-box;
  padding-left: 6px;
  height: 100%;
}

.input-back-btn svg {
  transition: 0.2s;
  fill: rgb(50 63 125);
}

.input-back-btn:hover svg {
  fill: rgb(88, 103, 180);
}

/* Shortcuts to next page content */

.skip-to-next-page-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: rgb(51, 84, 231);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.skip-to-next-page-content:hover,
.skip-to-next-page-content:active {
  background-color: rgb(51, 84, 231);
}

.skip-to-next-page-content:focus {
  position: static;
  border: 2px solid black;
  outline: none;
  padding: 5px;
  height: auto;
}

.skip-to-next-page-content svg {
  fill: white;
}

.closer-than-darkbg {
  z-index: 9000;
}

/* checkbox div */

.checkbox-div.checked {
  border: 1px solid #7e95fa;
  background-color: #7e95fa;
  background-image: url(./assets/check.svg);
  background-position: center;
  background-size: 14px 14px;
}

.checkbox-div {
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
  border: 1px solid #676767;
  background-color: white;
  border-radius: 3px;
  transition: background 0.2s, border 0.2s, outline 0s;
}

*:hover > .checkbox-div,
  *:focus > .checkbox-div {
  border: 1px solid black;
}

*:hover > .checkbox-div.checked,
  *:focus > .checkbox-div.checked {
  border: 1px solid #7e95fa;
}

/* radio div */

.radio-div.checked {
  border: 1px solid #7e95fa;
  background-color: #7e95fa;
}

.radio-div {
  width: 14px;
  height: 14px;
  min-width: 14px;
  min-height: 14px;
  border: 1px solid #676767;
  border-radius: 50%;
  background-color: white;
  box-shadow: inset 0 0 0 3px #fff;
  transition: background 0.2s, border 0.2s, outline 0s;
}

*:hover > .radio-div,
  *:focus > .radio-div {
  border: 1px solid black;
}

*:hover > .radio-div.checked,
  *:focus > .radio-div.checked {
  border: 1px solid #7e95fa;
}

/* some styles from bootstrap because i can't import the loader's styles separately */
.spinner-border {
  width: 2.8rem;
  height: 2.8rem;
  vertical-align: -0.125em;
  border: 0.8rem solid rgb(12, 101, 235);
  border-right: 0.8rem solid #0000;
}

.spinner-border {
  animation: 0.75s linear infinite spinner-border;
  border-radius: 50%;
  display: inline-block;
}

/* loader placeholder */
.spinner-border.placeholder {
  border: 0.8rem solid rgb(220, 220, 220);
  animation: none;
}

#app-global-loading-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: rgb(190, 190, 190);
  opacity: 0.4;
}

.app-global-loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2001;
  height: 6px;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.app-global-loading-bar-rect {
  background-color: #1e47ff;
  width: 25%;
  height: 100%;
  animation: 0.35s linear infinite app-global-loading;
}

/* device categories modal */

#categories-modal {
  width: 100%;
  height: 100%;
  max-height: none;
  border-radius: 0;
  padding: 0;
}

.top-h2 {
  font-size: 2rem;
  text-align: start;
  padding: 0 28px;
}

@media screen and (min-width: 400px) {
  .top-h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 600px) {
  .top-h2 {
    font-size: 3.2rem;
  }
}

@media screen and (min-width: 730px) {
  #categories-modal {
    max-width: 700px;
    height: auto;
    max-height: 95%;
    border-radius: 6px;
    padding: 0 0 1px 0;
  }

  #categories-modal > header > h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1000px) {
  .app-global-loading-bar-rect {
    animation: 0.3s linear infinite app-global-loading;
  }
}

@keyframes app-global-loading {
  from {
    /* doing this to make start of the animation smoother */
    margin-left: -65px;
  }

  to {
    /* fallback for old browsers */
    margin-left: 100%;
    margin-left: calc(100% - 25%);
  }
}

@keyframes spinner-border {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}