.sorting-filter-btn-wrap,
 .sorting-filter-btn-wrap button {
  display: flex;
  align-items: center;
}

.sorting-filter-btn-wrap {
  gap: 5px;
}

.sorting-filter-btn-wrap button {
  gap: 2px;
}

.sorting-filter-btn-wrap {
  padding-right: 0;
}

.sorting-filter-btn-wrap button {
  background: none;
  border: none;
  cursor: pointer;
  color: #4444ef;
  transition: 0.2s;
}

.sorting-filter-btn-wrap button span {
  border-bottom: 1px dashed #4444ef;
}

.sorting-filter-btn-wrap button img {
  transition: 0.3s;
}

.sorting-filter-btn-wrap button:hover,
 .sorting-filter-btn-wrap button:focus {
  color: #bd5e10;
}

.sorting-filter-btn-wrap button:hover span,
 .sorting-filter-btn-wrap button:focus span {
  border-bottom: 1px dashed #bd5e10;
}

.sorting-filter-btn-wrap p {
  font-size: 1.5rem;
}

.sorting-filter-btn-wrap button {
  font-size: 1.2rem;
}

@media screen and (min-width: 240px) {
  .sorting-filter-btn-wrap p {
    font-size: 1.8rem;
  }
  
  .sorting-filter-btn-wrap button {
    font-size: 1.5rem;
  }
}