.sorting-filter-btn-wrap,
 .sorting-filter-btn-wrap button {
  display: flex;
  align-items: center;
}

.sorting-filter-btn-wrap {
  gap: 5px;
}

.sort-paragraph {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.sorting-filter-btn-wrap button {
  gap: 2px;
}

.sorting-filter-btn-wrap {
  flex-direction: column;
  padding-right: 0;
}

.sorting-filter-btn-wrap button {
  background: none;
  border: none;
  cursor: pointer;
  color: #4444ef;
  transition: 0.2s;
  flex-direction: row-reverse;
}

.sorting-filter-btn-wrap button span {
  border-bottom: 1px dashed #4444ef;
}

.sorting-filter-btn-wrap button img {
  transition: 0.3s;
}

.sorting-filter-btn-wrap button:hover,
.sorting-filter-btn-wrap button:focus,
.sorting-filter-btn-wrap button.active {
  color: #bd5e10;
}

.sorting-filter-btn-wrap button:hover span,
.sorting-filter-btn-wrap button:focus span,
.sorting-filter-btn-wrap button.active span {
  border-bottom: 1px dashed #bd5e10;
}

.sorting-filter-btn-wrap p {
  font-size: 1.8rem;
}

.sorting-filter-btn-wrap button {
  font-size: 1.5rem;
}

@media screen and (min-width: 280px) {
  .sorting-filter-btn-wrap {
    flex-direction: row;
  }

  .sorting-filter-btn-wrap button {
    flex-direction: row;
  }
}