.add-to-desired-list {
  border: none;
  border-radius: 3px;
  padding: 4px;
  background: #dfdfdf;
  transition: 0.2s;
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.add-to-desired-list:hover,
.add-to-desired-list:active {
  background: #c7c7c7;
}