.add-to-desired-list {
  border: none;
  border-radius: 3px;
  padding: 4px;
  background: #f9f9f9;
  transition: 0.3s;
  cursor: pointer;
  display: grid;
  align-items: center;
  justify-content: center;
}

.add-to-desired-list:hover,
.add-to-desired-list:active {
  background: #eeeeee;
}

.purchase-device-footer > .add-to-desired-list {
  display: none;
}

.add-to-desired-list > img {
  font-size: 1rem;
  color: #fff;
}

.main-device-item.out-of-stock .add-to-desired-list {
  background-color: #cdcdcd;
}

.main-device-item.out-of-stock .add-to-desired-list:hover,
.main-device-item.out-of-stock .add-to-desired-list:active {
  background-color: #bdbdbd;
}

.add-to-desired-list .add-to-desired-list-loader {
  width: 14px;
  height: 14px;
  border: 0.5rem solid rgb(12, 101, 235);
  border-right: 0.5rem solid #0000;
}

@media screen and (min-width: 400px) {
  .purchase-device-footer > .add-to-desired-list {
    display: grid;
  }
}