aside {
  display: none;
  flex-direction: column;
  gap: 20px;
}

aside input:focus, select:focus {
  border: 2px solid #7e95fa;
  outline: none;
}

aside > * {
  background-color: #f1f1f1;
  border: 2px solid #676767;
  padding: 10px;
  position: relative;
  border-radius: 20px;
}

@media screen and (min-width: 800px) {
  aside {
    display: flex;
  }
}