aside {
  display: none;
  flex-direction: column;
  gap: 20px;
}

aside input,
select {
  font-family: 'Montserrat', sans-serif;
}

aside>* {
  background-color: #f1f1f1;
  border: 2px solid #676767;
  padding: 10px;
  position: relative;
  border-radius: 20px;
  min-width: 320px;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (min-width: 960px) {
  aside {
    display: flex;
  }
}