.categories-modal-content {
  padding: 22px;
  box-sizing: border-box;
}

.categories-modal-content-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin: 0;
}

@media screen and (min-width: 300px) {
  .categories-modal-content-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 500px) {
  .categories-modal-content-list {
    grid-template-columns: 1fr 1fr 1fr;
    max-height: 470px;
  }
}

@media screen and (min-width: 700px) {
  .categories-modal-content-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}