.filters {
  max-height: 284px;
  overflow-y: auto;
  margin: 0;
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  overflow-anchor: none;
}

/* Scrollbar */

.filters {
  scrollbar-color: #d4d4d4 rgb(103, 103, 103, 0.3);
  scrollbar-width: thin;
}

/* Webkit syntax */
.filters::-webkit-scrollbar {
  border-radius: 5px;
  width: 6px;
  background-color: #d4d4d4;
}

.filters:-webkit-scrollbar-track {
  border: 1px solid;
}

.filters::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(103, 103, 103, 0.3);
}

.filters li {
  padding: 1px 6px;
  font-size: 1.5rem;
  justify-items: start;
}

.empty-filters-msg {
  text-align: center;
  font-size: 1.3rem;
}

@media screen and (min-width: 1090px) {
  .empty-filters-msg {
    font-size: 1.5rem;
  }
}