.checkout-page-address-data-section > div {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.checkout-address-data-section-inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.message-to-user.checkout-page-receivent-data-warning {
  padding: 12px;
  margin: 14px 0 0 0;
}

@media screen and (min-width: 500px) {
  .checkout-address-data-section-inputs {
    grid-template-columns: 1fr 1fr;
  }
}