.checkout-page-address-data-section > div {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.checkout-address-data-section-inputs {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.checkout-page-receivent-data-warning {
  padding: 12px;
  margin: 14px 0 0 0;
  border: 1px solid #7373ff;
  border-radius: 5px;
  background-color: #a7a7ff;
  color: black;
}

@media screen and (min-width: 500px) {
  .checkout-address-data-section-inputs {
    grid-template-columns: 1fr 1fr;
  }
}