.child-item-group {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 6px;
  padding: 6px;
  width: max-content;
}

.child-item-group-img-wrap {
  display: grid;
  background-color: #FFF;
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 8px;
  width: 129px;
  height: 129px;
  align-content: center;
}

.child-item-group-img-wrap > img {
  max-width: 85%;
  max-height: 85%;
  object-fit: cover;
  justify-self: center;
  align-self: center;
  aspect-ratio: 1;
}

.child-item-group > h3 {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  color: #7373ff;
}

.child-item-group:hover > h3,
.child-item-group:active > h3,
.child-item-group:focus-visible > h3 {
  color: #bd5e10;
}

@media screen and (min-width: 591px) {
  .child-item-group-img-wrap {
    width: 175px;
    height: 175px;
  }
}