.comments-section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comments-section > h2 {
  margin-bottom: 0;
  font-size: 2rem;
}

.heading-item-name-part {
  color: rgb(90, 90, 90);
  font-weight: normal;
}

.comments-star-rating-p-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
}

.comments-star-rating-p-wrapper > p {
  font-size: 1.2rem;
}

.seller-cant-remain-comment-error-msg {
  color: #a10e0e;
  font-size: 1.3rem;
}

button.original-comment-reply-btn, 
button.create-comment-btn {
  font-size: 1.2rem;
}

button.original-comment-reply-btn {
  width: max-content;
}

button.create-comment-btn {
  width: auto;
}

@media screen and (min-width: 220px) {
  button.create-comment-btn {
    width: max-content;
  }
}

@media screen and (min-width: 300px) {
  button.original-comment-reply-btn,
  button.create-comment-btn {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 360px) {
  .comments-section > h2 {
    font-size: 2.5rem;
  }
}