.comment-modal-bottom-btns {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-self: flex-end;

  /* 
    using these styles to prevent modal content's 
    padding dissappearing effect on scrolling down 
  */
  position: relative;
  top: 22px;
  padding-bottom: 22px;
}

.comment-modal-form-btn-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.comment-modal-is-anonymously {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.2rem;
  text-align: start;
  cursor: pointer;
  padding: 0;
}

.comment-modal-is-anonymously > .checkbox-div {
  margin-top: 1px;
}

@media screen and (min-width: 200px) {
  .comment-modal-form-btn-group {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

@media screen and (min-width: 300px) {
  .comment-modal-is-anonymously {
    font-size: 1.5rem;
  }
}