.comment-modal-content {
  box-sizing: border-box;
  height: 100%;
  padding: 22px;
}

.comment-modal-content.editing-comment-version {
  padding: 12px;
}

.comment-modal-form {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 12px;
  height: 100%;
}