.device-purchase-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 12px 10px;
  border-radius: 0 0 18px 18px;
}

.device-purchase-section .main-device-add-to-cart {
  width: 90px;
  min-width: 0;
  max-width: none;
  height: 31px;
  padding: 6px 10px;
  gap: 8px;
}

.device-purchase-section .main-device-add-to-cart.added-version {
  width: 100%;
  min-width: max-content;
  max-width: max-content;
  height: max-content;
}

.device-purchase-section .main-device-add-to-cart > img {
  display: none;
}

.device-purchase-section .main-device-add-to-cart>span {
  font-size: 1.5rem;
}

.device-purchase-section .main-device-price b {
  font-size: 1.5rem;
}

.device-purchase-section .main-device-old-price>span:first-of-type,
.device-purchase-section .main-device-price>.main-device-currency {
  font-size: 1.2rem;
}

.device-purchase-section .main-device-old-price>.main-device-currency {
  font-size: 1rem;
}

.out-of-stock-msg {
  font-size: 1.8rem;
  color: rgb(90, 90, 90);
}

@media screen and (min-width: 270px) {
  .device-purchase-section .main-device-add-to-cart {
    width: 136px;
    height: 36px;
  }

  .device-purchase-section .main-device-add-to-cart.added-version {
    width: max-content;
    max-width: none;
  }

  .device-purchase-section .main-device-add-to-cart > img {
    display: block;
  }

  .device-purchase-section .main-device-add-to-cart>span {
    font-size: 1.8rem;
  }

  .device-purchase-section .main-device-price b {
    font-size: 2rem;
  }

  .device-purchase-section .main-device-old-price>span:first-of-type,
  .device-purchase-section .main-device-price>.main-device-currency {
    font-size: 1.5rem;
  }

  .device-purchase-section .main-device-old-price>.main-device-currency {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 460px) {
  .device-purchase-section {
    flex-direction: row;
    gap: 16px;
  }
}