.main-device-item {
  display: grid;
  grid-template-columns: auto;
  padding: 16px;
  border-radius: 15px;
  border: 2px solid #c5c5c5;
  background: #FFF;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.main-device-item > * {
  /* using this to control the gap between some child items */
  margin-bottom: 8px;
}

.main-device-item.out-of-stock > * {
  opacity: 0.4;
}

.main-device-img-wrap {
  display: grid;
  position: relative;
}

.main-device-img-wrap img {
  max-width: 85%;
  /* making every image same height */
  height: 18vh;
  /* keeping up proportions */
  object-fit: cover;
  justify-self: center;
  align-self: center;
}

.main-device-name {
  display: block;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  height: 37px;
  margin-bottom: 6px;
  overflow: hidden;
}

.device-color-options-placeholder {
  margin: 0 0 38px 0;
  height: 0;
}

ul.main-device-icons-absolute {
  position: absolute;
  left: 12px;
  right: 12px;
  top: 14px;
  z-index: 1;

  /* making wrap of child content not possible to prevent particular hiding of it */
  overflow: hidden;
  max-height: 32px;
  flex-wrap: wrap;
}

.main-device-icons-absolute .device-sale-icon-wrap {
  height: 20px;
}

.price-add-to-cart-wrap {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  margin-bottom: 0;
}

.main-device-stock-alert {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.main-device-stock-alert-placeholder {
  height: 0;
  margin: 0 0 16px 0;
}

@media screen and (min-width: 960px) {
  .main-device-item:hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
    box-sizing: content-box;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.35);
  }
}