.main-device-add-to-cart {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #00dd1d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 100%;
  min-width: 40px;
  max-width: 66px;
  height: 32px;
  transition: 0.2s;
  justify-self: end;
  outline: none;
}

.main-device-add-to-cart:hover,
 .main-device-add-to-cart:focus-visible {
  background-color: #00f521;
}

.main-device-add-to-cart.preorder-version {
  background-color: #7373ff;
}

.main-device-add-to-cart.preorder-version:hover,
 .main-device-add-to-cart.preorder-version:focus-visible {
  background-color: #8282ff;
}

.main-device-add-to-cart > span {
  color: white;
  font-size: 1.8rem;
}

.main-device-add-to-cart > img {
  width: 24px;
  height: 24px;
}