main.device-or-sales-section-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.device-or-sales-section-error, .no-devices-or-sales-message {
  margin-top: 24px;
}

.no-devices-or-sales-message {
  font-size: 1.5rem;
}

.device-or-sales-section-error > p {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.device-or-sales-section-error button {
  font-size: 1.5rem;
  color: #4444ef;
  cursor: pointer;
  transition: 0.2s;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

main .spinner-border.error-retry-spinner {
  margin-top: 18px;
  margin-bottom: 0;
  justify-self: center;
}

@media screen and (min-width: 600px) {
  .device-or-sales-section-error > p,
  .device-or-sales-section-error button,
  .no-devices-or-sales-message  {
    font-size: 2.2rem;
  }

  main > .spinner-border.error-retry-spinner {
    margin-top: 30px;
    margin-bottom: 4px;
  }
}