.device-color-options {
  display: flex;
  flex: 1;
  gap: 12px;
  margin: 0;
  margin-bottom: 10px;
}

.color-option {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  /* using not visible for user outline to prevent outline-width transition */
  outline: 1px #fff solid;
  outline-offset: 4px;
  transition: 0.4s;
}

/* creating such a long chain to make the selector specifity bigger than the one below 
  (.color-option:not(.disabled-color-option):hover) */
.color-option:focus-visible,
 .device-color-options > li > .color-option.selected-color-option {
  outline: 1px #7e95fa solid;
}

.color-option:not(.disabled-color-option):hover {
  outline: 1px #7e95fa5e solid;
}

.color-option.disabled-color-option {
  border: 1px solid rgba(0, 0, 0, 0.2);
  opacity: 0.6;
}

.color-option.disabled-color-option::before {
  position: absolute;
  display: block;
  content: "";
  top: 49%;
  left: 50%;
  width: 130%;
  height: 1px;
  border-radius: 10px;
  background-color: rgb(0, 0, 0);
  transform: rotate(135deg) translate(-50%,-50%);
  transform-origin: 0;
  z-index: 2;
}