header .navbar {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  padding: 0 4px;
}

.navbar > *:not(.skip-to-next-page-content) {
  height: 100%;
}

.navbar img {
  font-size: 1rem;
}

.navbar > div {
  display: grid;
  width: 100%;
  gap: 5px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
}

/* if search bar is focused: */

.navbar > div.focusedSearch {
  grid-template-columns: 1fr;
}

.navbar > div.focusedSearch > button,
 .navbar > div.focusedSearch > a {
  display: none;
}

/* Skip to next page content */
 
.navbar > .skip-to-next-page-content:focus {
  position: absolute;
  height: 36px;
  top: 5px;
}

.navbar > .skip-to-next-page-content p {
  font-size: 1rem;
}

@media screen and (min-width: 230px) {
  .navbar > div {
    gap: 10px;
  }
}

@media screen and (min-width: 250px) {
  .navbar > .skip-to-next-page-content p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 395px) {
  .navbar > div {
    grid-template-columns: auto 1fr auto auto;
  }
}

@media screen and (min-width: 425px) {
  .navbar > div {
    gap: 22px;
  }

  header .navbar {
    padding: 0 10px;
  }
}

@media screen and (min-width: 550px) {
  .navbar > div {
    grid-template-columns: auto 1fr auto auto;
  }

  header .navbar {
    padding: 0 12px;
  }
}

@media screen and (min-width: 700px) {
  .navbar > div {
    grid-template-columns: auto 1fr auto auto auto;
  }
}

@media screen and (min-width: 900px) {
  header .navbar {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
    padding: 0 40px;
  }

  .navbar > .skip-to-next-page-content:focus {
    top: auto;
    align-self: center;
    left: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1000px) {
  .navbar > .skip-to-next-page-content:focus {
    min-width: 221px;
  }
}

@media screen and (min-width: 1080px) {
  .navbar > div {
    grid-template-columns: auto auto 1fr auto auto auto;
  }
}

@media screen and (min-width: 1200px) {
  header .navbar {
    padding: 0 100px;
  }

  .navbar > .skip-to-next-page-content:focus {
    left: 100px;
  }
}

@media screen and (min-width: 1500px) {
  header .navbar {
    padding: 0 200px;
  }

  .navbar > .skip-to-next-page-content:focus {
    left: 200px;
  }
}

@media screen and (min-width: 1800px) {
  header .navbar {
    padding: 0 300px;
  }

  .navbar > .skip-to-next-page-content:focus {
    left: 300px;
  }
}

@media screen and (min-width: 2000px) {
  header .navbar {
    padding: 0 400px;
  }

  .navbar > .skip-to-next-page-content:focus {
    left: 400px;
  }
}