nav {
  display: grid;
  /* grid-template-columns: 1fr; > (some pxs) => auto 1fr */
  grid-template-columns: 1fr; /* > (some pxs) => auto 1fr */
  align-items: center;
  justify-content: space-around;
  gap: 12px;
  padding: 0 4px;
}

nav > * {
  height: 100%;
}

nav img {
  font-size: 1rem;
}

nav > div {
  display: grid;
  /* display: flex;
  flex: 1; */
  width: 100%;
  gap: 5px;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
}

/* if search bar is focused: */

nav > div.focusedSearch {
  grid-template-columns: 1fr;
}

nav > div.focusedSearch > button,
 nav > div.focusedSearch > a {
  display: none;
}

/* Skip to next page content */
 
nav .skip-to-next-page-content {
  top: 0;
  width: 93%;
  margin-top: 5px;
}

nav .skip-to-next-page-content p {
  font-size: 1rem;
}

@media screen and (min-width: 230px) {
  nav > div {
    gap: 10px;
  }
}

@media screen and (min-width: 250px) {
  nav .skip-to-next-page-content p {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 395px) {
  nav > div {
    grid-template-columns: auto 1fr auto auto;
  }
}

@media screen and (min-width: 425px) {
  nav > div {
    gap: 22px;
  }

  nav {
    padding: 0 10px;
  }
}

@media screen and (min-width: 550px) {
  nav > div {
    grid-template-columns: auto auto 1fr auto auto;
  }

  nav {
    padding: 0 12px;
  }
}

@media screen and (min-width: 700px) {
  nav > div {
    grid-template-columns: auto auto 1fr auto auto auto;
  }
}

@media screen and (min-width: 900px) {
  nav {
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
    padding: 0 40px;
  }

  nav .skip-to-next-page-content {
    top: auto;
    left: auto;
    right: auto;
    width: auto;
    margin-left: 7px;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  nav {
    padding: 0 100px;
  }
}

@media screen and (min-width: 1500px) {
  nav {
    padding: 0 200px;
  }
}

@media screen and (min-width: 1800px) {
  nav {
    padding: 0 300px;
  }
}

@media screen and (min-width: 2000px) {
  nav {
    padding: 0 400px;
  }
}