.nav-category-button {
  background-color: #6d6d6d;
  display: none;
  flex: 1;
  gap: 5px;
}

.nav-category-button:hover {
  background-color: #929292;;
}

@media screen and (min-width: 550px) {
  .nav-category-button {
    display: flex;
  }
}