#select-user-location-modal {
  width: 100%;
  height: 100%;
  max-height: 100%;
  border-radius: 0;
  padding: 0;
}

#select-user-location-modal .my-scrollbar.os-scrollbar-vertical .os-scrollbar-track,
#select-user-location-modal .my-scrollbar.os-scrollbar-vertical .os-scrollbar-handle {
  border-radius: 0;
}

@media screen and (min-width: 630px) {
  #select-user-location-modal {
    width: 600px;
    height: auto;
    max-height: 95%;
    border-radius: 6px;
    padding: 0 0 1px 0;
  }

  #select-user-location-modal > header > h2 {
    font-size: 2.5rem;
  }

  #select-user-location-modal .my-scrollbar.os-scrollbar-vertical .os-scrollbar-track,
  #select-user-location-modal .my-scrollbar.os-scrollbar-vertical .os-scrollbar-handle {
    border-radius: 0 0 6px 0;
  }
}