/* Filter shortcuts */

#top-filter-bar {
  width: 100%;
  justify-self: center;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#top-filter-bar > button {
  width: 100%;
  max-width: 152px;
}

#top-filter-bar > button:focus {
  outline: 2px solid black;
}

.show-categories-select, .used-filters-shortcut {
  position: relative;
  height: 38px;
  padding: 2px 6px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
}

.show-categories-select {
  background-color: #4267e7;
}

.show-categories-select:hover {
  background-color: #2052ee;
}

.show-categories-select:active {
  background-color: #0744ff;
}

.show-categories-select span {
  top: 0;
}

.used-filters-shortcut {
  background-color: #ff3333;
}

.used-filters-shortcut:hover {
  background-color: #a10e0e;
}

.used-filters-shortcut:active {
  background-color: #880c0c;
}

@media screen and (min-width: 360px) {
  #top-filter-bar {
    flex-direction: row;
  }
}

@media screen and (min-width: 590px) {
  #top-filter-bar {
    justify-content: start;
  }
}

@media screen and (min-width: 960px) {
  #top-filter-bar {
    display: none;
  }
}