/* Filter shortcuts */

#top-filter-bar {
  width: 80%;
  justify-self: center;
  background-color: #f1f1f1;
  border: 2px solid #676767;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 20px;
  padding: 20px 15px;
  margin-bottom: 30px;
}

#top-filter-bar > * {
  width: 100%;
  max-width: 150px;
}

.show-categories-select, .used-filters-shortcut {
  position: relative;
  height: 40px;
  padding: 2px 6px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: 0;
}

.show-categories-select {
  background-color: #4267e7;
}

.show-categories-select:hover {
  background-color: #2052ee;
}

.show-categories-select:active {
  background-color: #0744ff;
}

.show-categories-select span {
  top: 0;
}

.used-filters-shortcut {
  background-color: #ff3333;
}

.used-filters-shortcut:hover {
  background-color: #a10e0e;
}

.used-filters-shortcut:active {
  background-color: #880c0c;
}

@media screen and (min-width: 380px) {
  #top-filter-bar {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 960px) {
  #top-filter-bar {
    display: none;
  }
}