.change-password-content-form {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.change-password-content-form-inputs-wrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.change-password-modal-btn-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.changing-password-error-modal {
  padding: 16px;
  font-size: 1.6rem;
}

@media screen and (min-width: 200px) {
  .change-password-modal-btn-group {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}