.user-location-btn {
  cursor: pointer;
  display: flex;
  gap: 2px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: none;
  border: none;
  transition: color 0.2s, background 0.2s, outline 0s;
}

.user-location-btn:hover,
.user-location-btn:active,
.user-location-btn:focus-visible {
  color: #7373ff;
}

.user-location-btn.device-right-desc-location-btn, 
.user-location-btn.sender-section-version {
  border: 1px #dfdfdf solid;
}

.user-location-btn.device-right-desc-location-btn {
  border-radius: 18px;
  width: max-content;
}

.user-location-btn.sender-section-version {
  justify-content: start;
  width: 100%;
  padding: 12px 10px;
  background-color: none;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 8px;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s, outline 0s;
}

.user-location-btn.sender-section-version:focus-visible,
.user-location-btn.sender-section-version:hover,
.user-location-btn.sender-section-version:active {
  background-color: #dfdfdf;
}

.user-location-btn.menu-location-btn {
  width: 100%;
  padding: 11px 18px;
  font-size: 1.6rem;
  justify-content: flex-start;
  gap: 16px;
  outline: none;
}

.user-location-btn.menu-location-btn > img {
  display: block;
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 50%;
  background-color: rgb(205, 205, 205);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1), -1px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.user-location-btn.menu-location-btn:hover,
.user-location-btn.menu-location-btn:active,
.user-location-btn.menu-location-btn:focus-visible {
  background-color: #ffe0cc;
  color: #4444ef;
}