.images-carousel {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow-x: hidden;
}

.images-carousel.device-images-carousel {
  position: sticky;
  top: 60px;
}

@media screen and (min-width: 870px) {
  .images-carousel.device-images-carousel {
    flex-direction: row;
  }
}