.modal-window {
  box-sizing: border-box;
  /* doing this to prevent scrollbar and content child components' borders "overflowing" on desktop */
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  animation: fade-in 0.35s ease-in;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
}

section.modal-window:not(.closer-than-darkbg) {
  z-index: 7999;
}

.modal-window.not-visible-modal {
  display: none;
}

.modal-window > header {
  position: relative;
  display: grid;
  align-items: center;
  border-bottom: 1px solid rgb(190, 190, 190);
  padding: 16px;
  grid-template-columns: 1fr auto;
  gap: 8px;
}

.modal-window > header > h2 {
  margin: 0;
  text-align: start;
  font-size: 2rem;
}

.close-modal-btn {
  padding: 4px;
  border: none;
  background: none;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.close-modal-btn > svg {
  fill: #767676;
  transition: 0.2s;
}

.close-modal-btn:hover > svg,
.close-modal-btn:active > svg,
.close-modal-btn:focus:not(.invisible-focus) > svg {
  fill: #a10e0e;
}

.modal-child-positioning {
  position: relative;
}

.modal-child-positioning > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-window.create-comment-modal {
  width: 100%;
}

.modal-window.create-comment-modal .my-scrollbar.os-scrollbar-vertical .os-scrollbar-track,
.modal-window.create-comment-modal .my-scrollbar.os-scrollbar-vertical .os-scrollbar-handle {
  border-radius: 0;
}

@media screen and (min-width: 500px) {
  .modal-window:not(.create-comment-modal) {
    width: auto;
    height: auto;
    max-height: 95%;
    border-radius: 6px;
    padding: 0 0 1px 0;
  }

  .modal-window:not(.create-comment-modal) > header > h2 {
    font-size: 2.5rem;
  }

  .modal-window .my-scrollbar.os-scrollbar-vertical .os-scrollbar-track,
  .modal-window .my-scrollbar.os-scrollbar-vertical .os-scrollbar-handle {
    border-radius: 0 0 6px 0;
  }
}

/* +30px */
@media screen and (min-width: 680px) {
  .modal-window.create-comment-modal {
    width: 650px;
    height: auto;
    max-height: 95%;
    border-radius: 6px;
    padding: 0 0 1px 0;
  }

  .modal-window.create-comment-modal > header > h2 {
    font-size: 2.5rem;
  }

  .modal-window.create-comment-modal .my-scrollbar.os-scrollbar-vertical .os-scrollbar-track,
  .modal-window.create-comment-modal .my-scrollbar.os-scrollbar-vertical .os-scrollbar-handle {
    border-radius: 0 0 6px 0;
  }
}