/* Form */

.search-product-form {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 85%;
  max-width: 850px;
  height: 38px;
}

.search-product-form button[type="submit"] {
  display: none;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #1e47ff;
  padding: 0 8px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.search-product-form button[type="submit"]:hover {
  background-color: #3a5eff;
}

/* if the search input is focused it covers almost all available space */

div.focusedSearch .search-product-form {
  width: 95%;
}

/* Search line and the results */

nav .search-product-with-results {
  display: grid;
  position: relative;
}

@media screen and (min-width: 395px) {
  .search-product-form button[type="submit"] {
    display: inline-block;
  }
}