.search-result {
  font-size: 1.3rem;
  overflow: hidden;
  outline: none;
}

.search-result a {
  box-sizing: border-box;
  padding: 7px 10px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-overflow: ellipsis;
  color: #5e5e5e;
  outline: none;
  position: relative;
}

.search-result a:hover,
.search-result a:focus,
.search-result[aria-checked="true"] a {
  background-color: #e9e9e9;
}

.search-result-history a:hover,
.search-result-history a:focus,
.search-result-history[aria-checked="true"] a {
  background: #e9e9e9 url("../../../assets/history.svg") 6px center no-repeat;
}

.search-result-category a:hover,
.search-result-category a:focus,
.search-result-category[aria-checked="true"] a {
  background: #e9e9e9 url("../../../assets/category.svg") 6px center no-repeat;
}

.search-result-history a {
  background: url("../../../assets/history.svg") 6px center no-repeat;
  grid-template-columns: 1fr auto;
}

.search-result-category a {
  background: url("../../../assets/category.svg") 6px center no-repeat;
}

.search-result-category-search a {
  background: url("../../../assets/search.svg") 6px center no-repeat;
}

.search-result-hidden {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  background: none;
}

.search-result-history a,
.search-result-category a,
.search-result-category-search a {
  padding-left: 32px;
}

.search-result-history a {
  padding-top: 3px;
  padding-bottom: 3px;
}

.search-result a > * {
  text-overflow: ellipsis;
  white-space: pre;
  overflow: hidden;
}

.matching-search-result-segment {
  color: black;
}

.clear-search-result {
  border: none;
  border-radius: 4px;
  padding: 1px;
  background: url("../../../assets/close.svg") no-repeat;
  transition: 0.2s;
  cursor: pointer;
  outline: none;

  width: 24px;
  height: 24px;
}

.clear-search-result:hover,
.clear-search-result:active,
.clear-search-result:focus {
  background-color: #cecece;
}