.react-hook-form-input {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.react-hook-form-input label,
.react-hook-form-input-error-msg {
  font-size: 1.3rem;
}

.react-hook-form-input label {
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: rgb(90, 90, 90);
}

.react-hook-form-input input {
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 0 6px;
  border: 1px solid rgb(130, 130, 130);
  border-radius: 8px;
  background-color: #e9e9e9;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  transition: border-color 0.2s, background-color 0.2s, outline 0s;
  outline: none;
}

.react-hook-form-input input:disabled {
  background-color: #d0d0d0;
  border: 1px solid rgb(90, 90, 90);
  color: rgb(105, 105, 105);
  cursor: auto;
}

.react-hook-form-input input:enabled:focus {
  background-color: #ffffff;
  border: 1px solid #c1c1c1;
}

.react-hook-form-input input:enabled.invalid {
  border: 1px solid #e41515;
}

.react-hook-form-input-error-msg {
  color: #a10e0e;
}

.password-input-wrapper {
  position: relative;
}

.password-input-wrapper > input {
  padding-right: 44px;
}

.show-password-input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 8px;
  border-radius: 0 8px 8px 0;
  border: none;
  background: none;
  cursor: pointer;
}

.show-password-input-btn > svg {
  fill: #7373ff;
  transition: 0.25s;
  width: 22px;
  height: 22px;
}

.show-password-input-btn:hover > svg,
.show-password-input-btn:active > svg,
.show-password-input-btn:focus-visible > svg {
  fill: #ff7e14;
}