.ui-button {
  font-size: 1.5rem;
  transition: background 0.2s, border 0.2s !important; 
  cursor: pointer;
}

a.ui-button {
  text-align: center;
}

.ui-button:disabled, a.ui-button.disabled {
  cursor: auto;
}

.primary1 {
  display: grid;
  justify-content: center;
  align-items: center;
  /* there can't be more than 2 lines of text */
  max-height: 52px;
  overflow: hidden;
  padding: 8px 14px;
  border-radius: 5px;
  border: none;
  background-color: #3354e7;
  color: white;
  outline: none;
}

.primary1:disabled, a.primary1.disabled {
  background-color: #676767;
}

.primary1:enabled:hover, a.primary1:not(.disabled):hover,
.primary1:enabled:active, a.primary1:not(.disabled):active,
.primary1:enabled:focus-visible a.primary1:not(.disabled):focus-visible {
  background-color: #5171ff;
}

.primary2 {
  background: none;
  padding: 8px 12px;
  border: 1px solid #dfdfdf;
  border-radius: 16px;
  color: #7373ff;
}

.primary2:hover,
.primary2:active,
.primary2:focus-visible {
  border: 1px solid #c7c7c7;
  background: #f1f1f1;
}

.primary3 {
  padding: 8px 10px;
  border: 1px rgb(150, 150, 150) solid;
  border-radius: 8px;
  color: #8282ff;
  outline: none;
}

.primary3:hover,
.primary3:active,
.primary3:focus-visible {
  background-color: #e0e0e0;
}

.modal-submit, .modal-deny {
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.modal-submit {
  background-color: #8282ff;
  color: #fff;
  border: none;
}

.modal-submit:disabled, a.modal-submit.disabled {
  background-color: #b2b2b2;
  cursor: auto;
}

.modal-submit:enabled:hover, a.modal-submit:not(.disabled):hover,
.modal-submit:enabled:active, a.modal-submit:not(.disabled):active,
.modal-submit:enabled:focus-visible, a.modal-submit:not(.disabled):focus-visible {
  background-color: #7070ff;
}

.modal-deny {
  color: #8282ff;
  border: 1px rgb(150, 150, 150) solid;
}

.modal-deny:hover,
.modal-deny:active,
.modal-deny:focus-visible {
  background-color: #e0e0e0;
}