.menu-icon-button {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 18px;
  border: none;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 14px;
  /* this button gets it's system background-color in the main page but not in the menu (we don't need background at all) */
  background: none;
  cursor: pointer;
  outline: none;
}

.menu-icon-btn-img-wrapper {
  padding: 2px;
  border-radius: 50%;
  background-color: rgb(205, 205, 205);
  box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.1), -1px 1px 2px 0px rgba(0, 0, 0, 0.1);
}

.menu-icon-btn-img-wrapper > img {
  display: block;
  width: 24px;
  height: 24px;
  padding: 4px;
}

.menu-icon-button > span {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s;
}

.menu-icon-button:hover,
.menu-icon-button:active,
.menu-icon-button:focus-visible {
  background-color: #ffe0cc;
}

.menu-icon-button:hover > span,
.menu-icon-button:active > span,
.menu-icon-button:focus-visible > span {
  color: #4444ef;
}