.menu-icon-button {
  width: 100%;
  padding: 10px 18px;
  border: none;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
  outline: none;
}

.menu-icon-button > img {
  display: block;
  width: 24px;
  height: 24px;
  padding: 6px;
  border-radius: 50%;
  background-color: rgb(205, 205, 205);
}

.menu-icon-button > span {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  transition: 0.2s;
}

.menu-icon-button:hover,
.menu-icon-button:active,
.menu-icon-button:focus-visible {
  background-color: #ffe0cc;
}

.menu-icon-button:hover > span,
.menu-icon-button:active > span,
.menu-icon-button:focus-visible > span {
  color: #4444ef;
}