/* Component */

main {
  padding: 0;
  background: none;
  border: none;
}

/* End */

.search-line-wrap {
  display: grid;
  position: relative;
}

.search-line {
  box-sizing: content-box;
  justify-self: center;
  height: auto;
  width: 90%;
  padding: 1px 5px;
  margin: 0;
  transition: background 0.2s;
}

/* Scroll bar */

/* Products */

#product-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  gap: 35px;
  padding: 0;
  margin: 0;
}

.item-product {
  background-color: #f1f1f1;
  display: grid;
  width: 100%;
  position: relative;
  border: 1px solid #676767;
  border-radius: 10px;
}

.item-product > :first-child {
  border-radius: 10px 10px 0 0;
}

.item-product > :last-child {
  border-radius: 0 0 10px 10px;
}

.item-product div {
  position: relative;
  display: grid;
  padding: 8px;
}

.item-product div:before {
  content: "";
  padding-top: 66%;
  padding-bottom: 66%;
  position: relative;
  z-index: 1;
}

.item-product div img {
  box-sizing: border-box;
  padding: 20px;
  position: absolute;
  align-self: center;
  justify-self: center;
  max-width: 85%;
  max-height: 85%;
}

.product-name {
  display: grid;
  height: 42px;
  margin: 0;
  padding: 10px 0;
}

.product-name button {
  background: none;
  border: none;
  align-self: center;
  justify-self: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: #3c3cd5;
}

.product-name button:hover {
  color: #a10e0e;
  cursor: pointer;
}

.product-name button:active {
  color: #700f00;
}

.product-tags {
  position: absolute;
  align-self: end;
  display: block;
  align-items: center;
  justify-content: center;
  line-height: 2rem;
}

.cost {
  z-index: 1;
  justify-self: end;
  position: absolute;
  height: 35px;
  border: 1px solid #676767;
  background-color: #9f9f9f;
  padding: 2px;
  display: grid;
  align-items: center;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.amount {
  display: grid;
  grid-template-rows: 1fr;
  font-size: 1.2rem;
  position: absolute;
  top: 230px;
}

.amount input {
  width: 50px;
  height: 25px;
  border: 1px solid #676767;
}

/* Selected product */

.selected-product-modal {
  z-index: 5;
  padding: 40px 10px;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  background-color: #f1f1f1;
  border: 2px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  width: 95%;
}

.selected-product {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}


.selected-product div {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  border: 2px solid #676767;
  background-color: white;
  box-sizing: border-box;
  width: 75%;
}

.selected-product div:before {
  content: "";
  padding-top: 40%;
  padding-bottom: 40%;
  z-index: 1;
}

.selected-product div img {
  box-sizing: border-box;
  position: absolute;
  align-self: center;
  justify-self: center;
  max-width: 85%;
  max-height: 85%;
}

.selected-product h2 {
  font-size: 1.8rem;
}

.selected-product h2 {
  color: black;
}

.product-buy-parameters {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-items: center;
  align-content: center;
}

.product-buy-parameters > * {
  display: grid;
  justify-items: center;
}

.amount-wrap {
  align-self: start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.product-amount-cost {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-around;
}

.product-buy-parameters p {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 35px;
  background: none;
}

.amount {
  width: 60px;
}

.increment, .decrement {
  background: none;
  border: none;
  width: 40px;
  height: 35px;
}

.increment:hover, .decrement:hover {
  background: none;
  color: black;
}

.increment:active {
  background: none;
  color: #10a149;
}

.decrement:active {
  background: none;
  color: #d20000;
}

.product-buy-parameters div:nth-of-type(2) {
  align-self: center;
  position: relative;
  bottom: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-buy-parameters div {
  background: none;
  border: none;
}

#add-to-cart {
  position: relative;
  top: 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px;
  align-items: center;
  justify-items: start;
  border: 1px solid #0a853c;
  border-radius: 10px;
  background-color: #1ce164;
  padding: 6px;
  max-width: 140px;
  height: 35px;
}

#add-to-cart:hover {
  background-color: #18c255;
}

#add-to-cart:active {
  background-color: #0a853c;
}

#add-to-cart span {
  top: 0;
}

@media screen and (min-width: 230px) {
  .product-amount-cost {
    grid-template-columns: 1fr auto;
  }
}

@media screen and (min-width: 240px) {
 #cat-settings {
   grid-template-columns: 1fr 1fr;
 }
}

@media screen and (min-width: 280px) {
  .cost-select-filter {
    width: auto;
  }
}

@media screen and (min-width: 400px) {
  #product-list {
    grid-template-columns: 1fr 1fr;
  }

  .item-product div img {
    max-width: 100%;
    max-height: 100%;
  }
}

@media screen and (min-width: 480px) {
  .selected-product-modal {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 550px) {
  .selected-product-modal {
    width: auto;
    height: auto;
  }

  .selected-product div {
    width: 95%;
  }
}

@media screen and (min-width: 800px) {
  #product-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1280px) {
  #product-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1580px) {
  #product-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}