.sign-in-up-fields label[for="email"], label[for="forgot-password-email"] {
  font-size: 1.1rem;
}

.message-forgot-password-wrap {
  display: grid;
  align-items: center;
}

.message-forgot-password-wrap p, .forgot-password-button {
  text-align: center;
}

.forgot-password-button {
  box-sizing: border-box;
  background: none;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #4444ef;
  padding: 5px 0;
  cursor: pointer;
  justify-self: end;
  transition: color 0.2s;
}

.forgot-password-button:hover {
  background: none;
}

.forgot-password-button:active {
  background: none;
}

@media screen and (min-width: 260px) {
  .visibility span, .category .icon span {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 340px) {
  .error-description {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 370px) {
  .sign-in-up-fields label[for="email"], label[for="forgot-password-email"] {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 390px) {
  .message-forgot-password-wrap {
    grid-template-columns: auto auto;
  }

  .forgot-password-button {
    text-align: right;
  }
}

@media screen and (min-width: 540px) {
  .sign-in-up-fields label[for="email"], label[for="forgot-password-email"] {
    font-size: 1.5rem;
  }
}