.comments-section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.comments-section > h2 {
  margin-bottom: 0;
  font-size: 2rem;
}

.heading-item-name-part {
  color: rgb(90, 90, 90);
  font-weight: normal;
}

.comments-star-rating-p-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
}

.comments-star-rating-p-wrapper > p {
  font-size: 1.2rem;
}

.original-comment-reply-btn, 
.create-comment-btn {
  background: none;
  padding: 8px 12px;
  border: 1px solid #dfdfdf;
  border-radius: 16px;
  color: #7373ff;
  font-size: 1.2rem;
  transition: background 0.2s, border 0.2s;
  cursor: pointer;
}

.original-comment-reply-btn {
  width: max-content;
}

.create-comment-btn {
  width: auto;
}

.original-comment-reply-btn:hover, .create-comment-btn:hover,
.original-comment-reply-btn:active, .create-comment-btn:active,
.original-comment-reply-btn:focus-visible, .create-comment-btn:focus-visible {
  border: 1px solid #c7c7c7;
  background: #f1f1f1;
}

@media screen and (min-width: 220px) {
  .create-comment-btn {
    width: max-content;
  }
}

@media screen and (min-width: 300px) {
  .original-comment-reply-btn,
  .create-comment-btn {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 360px) {
  .comments-section > h2 {
    font-size: 2.5rem;
  }
}